body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #053C20; /* match logo */
  color: #e9dcc2; /* light beige */
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
   background-color: #053C20; /* match logo */
}

.logo-small {
  height: 40px;
}

.btn {
  background-color: transparent;
  border: 2px solid #c6a738;
  color: #c6a738;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #c6a738;
  color: #053E20;
}

.hero {
  padding-top: 8vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-main {
  width: 280px;
  max-width: 70%;
  margin-bottom: 2rem;
}

.bottom-wave {
  background-color: #e9dcc2;
  color: #002d1f;
  font-family: Copperplate, serif;
  padding: 3rem 1rem 2rem;
  border-top-left-radiu
